:root {
    min-height: 100vh;  
    background-color: black;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.App {
    display: grid;
    grid-template-rows: 200px min-content;
    grid-template-columns: 50px 1fr 50px;
}


/* header styling */
#header-area {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
}

#header {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

#logo {
    width: 450px;
    position: relative;
    left: -15px;
}

#header-left {
    margin-left: 15px;
}

#instructions {
    font-size: 1.2rem;
    color: white;
}

#header-right {
    margin-right: 15px;
    margin-top: 10px;
    font-size: 1.1rem;
    color: white;
}

/* cards-area styling */
#cards-area {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    justify-content: center;
}

#board {
    width: 1190px;
    border: 5px solid gray;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
}

#board2 {
    width: 1190px;
    border: 5px solid gray;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
}

/* disable cards */
.disableCards {
    pointer-events: none;
}

/* Modal */
.modal-open {
    display: block;
}

.modal-close {
    display: none;
}

.disableBackground {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30,30,30, 0.1);
    z-index: 5;
}

.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    border-style: double;
    border-width: 5px;
    border-color: rgb(65, 211, 204);
    align-items: center;
    top: -150px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    background-color: rgb(68, 78, 68);
    width: 450px;
    height: 185px;
    padding: 30px 40px;
    color: white;
    z-index: 6;
}

.modal-message {
    font-size: 1.2rem;
}

.m-buttonArea {
    display: flex;
    gap: 15px;
}

.m-buttons {
    width: 110px;
    height: 30px;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 15px;
    color:black;
    background-color: rgb(136, 132, 132);
}

.m-buttons:hover {
    border: 2px solid rgb(65, 211, 204);
}
  